PORT=3002
GAMES_PATH=chemin_vers_source_apps
ICONS_PATH=chemin_vers_icones
SCREENSHOTS_PATH=chemin_vers_screenshots
ROMS_PATH=chemin_vers_roms
FORWARDER_PATH=chemin_vers_forwarder
DATABASE_URL="mysql://user:password@localhost:3306/ndsshop"
JWT_SECRET=change-moi
GIT_REPO_PATH=chemin_vers_repo_db-nds-shop
GITHUB_TOKEN=token_pat_workflow_dispatch
GITHUB_REPO=NDS-Shop-Homebrew/db-nds-shop
GITHUB_REF=refs/heads/dev
BUILD_SCRIPT=/srv/nds-shop/db/scripts/nds-build.sh
BUILD_CWD=/srv/nds-shop/db
BUILD_ROMS=/srv/nds-shop/roms
BETTER_AUTH_SECRET=change-moi-en-secret-32-caracteres
BETTER_AUTH_URL=https://upload.db-nds-shop.fr
